<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tp1"
        tools:targetApi="31">
        <activity
            android:name=".tp1.ProcessActivity"
            android:exported="false" />
        <activity
            android:name=".tp1.ProcessActivity2"
            android:exported="false" />
        <activity
            android:name=".tp1.ProcessActivity3"
            android:exported="false" />
        <activity
            android:name=".tp1.Exo3ActivityOnlyJava"
            android:exported="false" />
        <activity
            android:name=".tp1.TP1Activity"
            android:exported="false" />
        <activity
            android:name="com.example.tp2.TP2Activity"
            android:exported="false" />
        <activity
            android:name="com.example.tp3.TP3Activity"
            android:exported="false" />
        <activity
            android:name=".tp1.CallActivity"
            android:exported="false" />
        <activity
            android:name=".tp1.HelloWorldActivity"
            android:exported="false" />
        <activity
            android:name=".tp1.Exo3Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo1Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo2Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo3Activity"
            android:exported="false" />
        <activity
            android:name=".tp1.Exo5Activity"
            android:exported="false" />
        <activity
            android:name=".tp1.Exo6Activity"
            android:exported="false" />
        <activity
            android:name=".tp1.Exo7Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo4Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo5Activity"
            android:exported="false" />
        <activity
            android:name=".tp2.Exo6Activity"
            android:exported="false" />
        <activity
            android:name="com.example.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>